<body class="bvs">


<button class="link"> <%= link_to "historia de Batman", :action => "batman" %> </button>
<button id="dos" class="link"><%= link_to "historia de Superman", :action => "superman" %></button>

<div>
	<form action="">
		
		
	</form>
</div>
         
	
<!-- <img src="http://www.studiocity-macau.com/uploads/images/SC/Entertainment/Batman/batman_share.jpg" class="mitad">
<img src="http://www.canonandculture.com/wp-content/uploads/2016/04/superman.jpeg" class="mitad"> -->


</body>