body {
	background: url(http://www.studiocity-macau.com/uploads/images/SC/Entertainment/Batman/batman_share.jpg) no-repeat center center fixed;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
}

h1 {
	color: white;
	font-size: 100px;
}